.scroll-container {
    width: 100%; /* Adjust width of the container */
    overflow: hidden; /* Hide overflowing content */
    position: relative;
    
  }
  
  .scroll-line {
    display: flex;
    animation: scroll 20s linear infinite;
  }
  
  .platform-img {
    width: 150px; /* Adjust size of images */
    margin-right: 20px; /* Space between images */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  

  
  .platform-img{
    height: 2cm;
    width: 2cm;
    padding: 10px;
    margin-right: 2cm;
  }