.scroll-container {
    width: 100%; /* Adjust width of the container */
    overflow: hidden; /* Hide overflowing content */
    position: relative;
    
  }
  
  .scroll-line {
    display: flex;
    animation: scroll 20s linear infinite;
  }
  

  .pheading{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 35px;
    font-weight: 700;
    color: #4A90E2;

}
  

  

  .platform-img1 {
    height: 2cm; /* Adjust size of images */
    width: 2cm;
    margin-right: 2cm;  /* Space between images */
  }
  
  .platform-img{
    height: 2cm;
    width: 2cm;
    padding: 10px;
    margin-right: 2cm;
  }




  