.spara {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    color: white;
}

.scardHead {
    font-size: x-large;
    font-weight: 600;
    text-align: center;
    color: white;
}

.slcardContent {
    text-align: left;
    color: white;
    padding: 10px;
    
}
.srcardContent {
    text-align: right;
    color: white;
    padding: 10px;
    
}




.scard {
    
    display: block;
    width: 500px;
    padding: 15px;
    height: auto;
    border-radius: 5px;
    background-color: #4A90E2;
}
div.srelative {
    position: relative;
    z-index: 1
}

div.slabsolute {
    position: absolute;
    right: 0;
    top:20%;
    height: 180px;
    width: 180px;
    border: 10px solid white;
    background-color: white;
    border-radius: 100px 100px;
    box-shadow: 5px 5px 5px grey;

}
div.srabsolute {
    position: absolute;
    left: 0;
    top:20%;
    height: 180px;
    width: 180px;
    border: 10px solid white;
    background-color: white;
    border-radius: 100px 100px;
    box-shadow: 5px 5px 5px grey;

}

